@{
    ViewData["Title"] = "Размещение объявления";
}

<div class="text-center">
    <h1 class="display-4">Разместите объявление</h1>
    <a asp-action="Create" asp-controller="Advertisements" class="btn-success btn">Разместить объявление</a>
</div>
