@{
    ViewData["Title"] = "Местоположение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .contact {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: black;
        display: inline-block;
        font-style: normal;
        margin-top: 10px;
        padding: 3px 5px;
        text-decoration: none;
    }
</style>
<h2 class="text-center">
    Видеостойка находится по адресу :
</h2>
<h2 class="text-center">
    г. Нур-Султан. улица Сатпаева 14. Супермаркет АЯН.
</h2>


