@{
    ViewData["Title"] = "Местоположение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .contact {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: black;
        display: inline-block;
        font-style: normal;
        margin-top: 10px;
        padding: 3px 5px;
        text-decoration: none;
    }
</style>
<h2 class="text-left">
    Видеостойка находится по адресу: г. Нур-Султан. улица Сатпаева 14. Супермаркет АЯН.
</h2>
<hr />
<div class="row">

    <div class="col-6">
        <h3>Местоположение видеостойки на карте</h3><br />

        <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/163/nur-sultan/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Нур‑Султан</a><a href="https://yandex.kz/maps/163/nur-sultan/house/Y0gYcgBjQU0GQFtrfX11dH9nbA==/?ll=71.474521%2C51.145014&utm_medium=mapframe&utm_source=maps&z=17.1" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Каныша Сатпаева, 14 — Яндекс.Карты</a><iframe src="https://yandex.kz/map-widget/v1/-/CCUY5PeUKB" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
    <hr />
    <div>
        <hr />
        <h3> Так выглядит видеостойка </h3><br />
        <img src="~/ph1.jpg" width="60%" />
    </div>
</div>



